body {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #eee;
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
    background-image:
        linear-gradient(to right bottom,
        rgba(255, 76, 76, 0.8),
        rgba(30, 108, 217, 0.9)),
        url('../assets/bg_photo_hg6Fs2.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
}

.brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.brand {
    font-size: 20px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

.heading-primary-sub {
    display: block;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
}
.info-box {
    background-color: rgba(128, 128, 128, 0.3); /* 50% transparent gray */
    border-radius: 15px; /* Curved edges */
    padding: 20px; /* Padding inside the box */
    margin-top: 20px; /* Space above the box */
    text-align: center; /* Center the text inside the box */
}

.info-box p {
    color: white; /* White text color */
    margin: 0; /* Remove default margin */
}

.info-box a {
    color: white; /* White color for the email link */
    text-decoration: none; /* Remove underline from the link */
}

.info-box a:hover {
    text-decoration: underline; /* Underline the link on hover */
}
